.navBar {
    background-color: #0C001C;
    height: 6.938rem;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 99999;
}

.logo img {
    height: 100%;
    width: 9.875rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    margin-right: auto;
    margin-left: 4.7619rem;
}