.pagination {
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    padding-top: 20px;
  }
  
  .page-link {
    padding: 8px 16px;
    background-color: #dddddd00;
    color: #1DB954;
    text-decoration: none;
    border: 1px solid #1DB954;
  }
  
  .page-link:hover {
    background-color: #1DB954;
    color: black;
    border: 0.5px solid #0c4721;
  }
  
  .page-link.selected {
    background-color: #1DB954;
    color: black;
    border: 0.5px solid #0c4721;

  }